body {
  text-align: center;
  font-size: 250%;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(36, 36, 36);
  color: rgb(12, 218, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
